.bg{
    height: 100vh;
    background-image: url("../assets/images/herolawas/cinemas.jpg");
    background-size: cover;
    
}

.intro{
    height:300px;
    display: flex;
    justify-content: end;
    align-items: end;
}

.judul{
    font-size: 3rem;
    font-weight: 800;
    text-align: center;
    color: white;
    margin-top: 20px;
    line-height: 1.2;
    text-shadow: 2px  whitesmoke;
}

.hero{
    height: auto;
    background-image: url("../assets/images/herolawas/bg4.jpg");
    background-size: cover;
}

.lawas{
    height: auto;
    background-image: url("../assets/images/herolawas/bg4.jpg");
    background-size: cover;
}

.upcoming{
    height: auto;
    background-image: url("../assets/images/herolawas/bg4.jpg");
    background-size: cover;
}

.movie-img {
    border-radius: 15px;
    margin: 5px;
    padding: 5px;
}

.movie-img,
.movie-img .card,
.movie-img .card-body {
    background-color: transparent !important;
    box-shadow: none;
    border:none!important;
}

.Imagi{
    height: 500px;  
    border-radius: 10%;
    border: 1px solid white;
}

.Imagi:hover{
    transform: scaleY(110%);
    transform: scaleX(110%);
    transition: 0.3s ease-in-out;
}

.bbtn{
    cursor: pointer;
}

